In [47]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [48]:
dir_ = 'data/'

file_vereadores = 'vereadores.csv'

file_data = 'data_networks.csv'

path_vereadores = dir_ + file_vereadores

path_data = dir_ + file_data

In [49]:
df_ver = pd.read_csv(path_vereadores)
df_data = pd.read_csv(path_data)
df_ver = df_ver.astype({"id_parlamentar": int})

In [60]:
df_ver["ano"] = df_ver.apply(lambda row: int(row["data"][-4:]), axis=1)
idx = (df_ver["ano"] > 2012)
df_cortes = df_ver[idx].copy()
df_cortes.loc[df_cortes['ano'] < 2017, 'ano'] = 0
df_cortes.loc[df_cortes['ano'] > 0, 'ano'] = 1
df_cortes

,Unnamed: 0,vereador,partido,id_parlamentar,voto,id_votacao,tipo_votacao,materia,ementa,resultado,presentes,votacao_sim,votacao_nao,votacao_abstencao,votacao_branco,notas,sessao,data,ano
2414,2576,TONINHO VESPOLI,PSOL,1999,0,987754321,Nominal,1º Vice Presidente da Mesa,NaN,Eleito Marco A Cunha (PSD),52.0,51.0,0.0,1.0,0.0,NaN,1ª Sessão Solene,01/01/2013,0
2415,2625,ANDREA MATARAZZO,PSDB,1994,1,101243,Nominal,Ver. Aurélio Miguel - 2ª Vice Presidente da Mesa,NaN,Eleito,52.0,51.0,0.0,1.0,0.0,NaN,1ª Sessão Solene,01/01/2013,0
2416,2626,ADILSON AMADEU,PTB,1296,1,101243,Nominal,Ver. Aurélio Miguel - 2ª Vice Presidente da Mesa,NaN,Eleito,52.0,51.0,0.0,1.0,0.0,NaN,1ª Sessão Solene,01/01/2013,0
2417,2627,ALFREDINHO,PT,1447,1,101243,Nominal,Ver. Aurélio Miguel - 2ª Vice Presidente da Mesa,NaN,Eleito,52.0,51.0,0.0,1.0,0.0,NaN,1ª Sessão Solene,01/01/2013,0
2418,2628,TONINHO VESPOLI,PSOL,1999,0,101243,Nominal,Ver. Aurélio Miguel - 2ª Vice Presidente da Mesa,NaN,Eleito,52.0,51.0,0.0,1.0,0.0,NaN,1ª Sessão Solene,01/01/2013,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58401,62273,SOUZA SANTOS,REPUBLICANOS,1633,1,102922,Nominal,"Sub ao PL 643/2020, da COMISSÃO DE FINANÇAS E ...",Estima a receita e fixa a despesa do Municípi...,Aprovado,55.0,37.0,12.0,0.0,0.0,FASE: 2ª DO SUBSTITUTIVO Nº 1 DA COMISSÃO DE F...,300ª Sessão Extraordinária,23/12/2020,1
58402,62274,TONINHO PAIVA,PL,220,1,102922,Nominal,"Sub ao PL 643/2020, da COMISSÃO DE FINANÇAS E ...",Estima a receita e fixa a despesa do Municípi...,Aprovado,55.0,37.0,12.0,0.0,0.0,FASE: 2ª DO SUBSTITUTIVO Nº 1 DA COMISSÃO DE F...,300ª Sessão Extraordinária,23/12/2020,1
58403,62275,TONINHO VESPOLI,PSOL,1999,-1,102922,Nominal,"Sub ao PL 643/2020, da COMISSÃO DE FINANÇAS E ...",Estima a receita e fixa a despesa do Municípi...,Aprovado,55.0,37.0,12.0,0.0,0.0,FASE: 2ª DO SUBSTITUTIVO Nº 1 DA COMISSÃO DE F...,300ª Sessão Extraordinária,23/12/2020,1
58404,62276,XEXÉU TRIPOLI,PSDB,2158,1,102922,Nominal,"Sub ao PL 643/2020, da COMISSÃO DE FINANÇAS E ...",Estima a receita e fixa a despesa do Municípi...,Aprovado,55.0,37.0,12.0,0.0,0.0,FASE: 2ª DO SUBSTITUTIVO Nº 1 DA COMISSÃO DE F...,300ª Sessão Extraordinária,23/12/2020,1
58405,62277,ZÉ TURIN,REPUBLICANOS,2151,1,102922,Nominal,"Sub ao PL 643/2020, da COMISSÃO DE FINANÇAS E ...",Estima a receita e fixa a despesa do Municípi...,Aprovado,55.0,37.0,12.0,0.0,0.0,FASE: 2ª DO SUBSTITUTIVO Nº 1 DA COMISSÃO DE F...,300ª Sessão Extraordinária,23/12/2020,1

In [61]:
df_2013 = df_cortes[df_cortes["ano"] == 0]
df_2017 = df_cortes[df_cortes["ano"] == 1]

In [70]:
df_parlamentar_2013 = df_2013.drop_duplicates(subset = "id_parlamentar").copy()
df_parlamentar_2017 = df_2017.drop_duplicates(subset = "id_parlamentar").copy()

In [78]:
df_tam_2013 = df_parlamentar_2013[["partido", "id_parlamentar"]].groupby("partido").count().copy().rename(columns = {"id_parlamentar": "parlamentares"})
df_tam_2017 = df_parlamentar_2017[["partido", "id_parlamentar"]].groupby("partido").count().copy().rename(columns = {"id_parlamentar": "parlamentares"})

In [87]:
df_tam = pd.concat([df_tam_2017, df_tam_2013]).groupby("partido").sum().copy()
df_tam

            parlamentares
partido
DEM                     2
DEMOCRATAS              7
MDB                     2
NOVO                    2
PC DO B                 3
PDT                     2
PHS                     4
PMDB                    4
PODE                    2
PP                      3
PPS                     4
PR                      7
PRB                     6
PROS                    4
PSB                     5
PSC                     2
PSD                    13
PSDB                   24
PSOL                    5
PT                     23
PTB                     8
PV                     10

In [94]:
df_rep = (
    df_cortes.merge(df_tam, on = "partido", how = "inner") 
    .copy()[["id_parlamentar","parlamentares"]]
    .drop_duplicates("id_parlamentar")
    .rename(columns = {"id_parlamentar": "id"})
)
df_rep

         id  parlamentares
0      1999              5
511    2148              5
531    2166              5
735    2185              5
1032   1994             24
...     ...            ...
51546   277              2
53088  2155              2
53514  2203              2
53527  2146              2
53689  2174              2

[103 rows x 2 columns]

In [95]:
df_total = df_rep.merge(df_data, on="id", how = "inner").copy()
df_total

       id  parlamentares  clustering  betweenness
0    1999              5    0.333333     0.000613
1    2148              5    0.800000     0.001883
2    2166              5    0.777778     0.003313
3    2185              5    0.575758     0.005331
4    1994             24    0.866667     0.000229
..    ...            ...         ...          ...
98    277              2    0.000000     0.000000
99   2155              2    1.000000     0.000000
100  2203              2    0.000000     0.000000
101  2146              2    0.846373     0.001741
102  2174              2    0.384615     0.011307

[103 rows x 4 columns]